body{
  color:black;
  line-height:2.2em;
}
.mycontainer{
  font-size:initial;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-weight:bold;
  font-size: 1.5em;
}


aside p{
  font-size: 18px;
}


aside p{
  font-size: 18px;
}


.panel-heading{
  padding:0;
}
.panel-title a{
  display:block;
  text-decoration:none;
  padding: 10px 15px;
}
.panel-title a:link{
  color: black;
}
.panel-title a:hover{
  background-color: #d6d7d9;
}

.panel-title a:link, .panel-title a:visited{
    border-bottom: none;
}
