body{
  color:black;
  line-height:2.2em;
}
.mycontainer{
  font-size:initial;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-weight:bold;
  font-size: 1.5em;
}
/*
aside p{
  font-size: 15.75px;
}
*/
